.border {
  background-color: #fff;
  padding: 2rem;
  margin: 3rem;

  width: auto;
  border-radius: 12px;
  text-align: right;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.border1 {
  background-color: #fff;
  
  margin: 3rem;
width: 20rem;
text-align: center;
padding: auto;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.border h2 {
    padding-top: 0.7rem;
    float: left;
}
.box1 button {
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin-left: 20rem;
  margin-bottom: 1rem;
  font-weight: 300;
  border-radius: 5px;
  box-shadow: #fff;
}
.box1 button:hover,
.box1 button:active {
  background-color: #fd4545;
  border-color: #fff;
}

.box1 button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}
.box1 button.alternative:hover,
.box1 button.alternative:active {
  background-color: #ddb3f8;
}
.box {
  width: 190px;
  height: 50px;
  padding: 10px;
  border: #fff;
  background-color: rgb(46, 49, 210);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.show-btn {
  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.show-btn,
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}


input[type="checkbox"] {
  display: none;
}
.container {
  background: #56d8e4;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover {
  color: #3498db;
}
.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form {
  margin-top: -20px;
}
.container form .data {
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label {
    font-size: 20px;
    margin-bottom: 0.5rem;
    display: block;
}
form .data input {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}
form .data input:focus {
  border-color: #3498db;
  border-bottom-width: 2px;
}


form  button {
  height: 100%;
  width: 20rem;


    padding: 0.8rem;
    border: #fff;
    background:  #000;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;

}

