.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.head {
    max-width: 80%;
}

.header {
    color: black;
    padding: 5px;
    text-align: center;
}

.content {
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

.card {
    margin-top: 20px;
    box-shadow: 0 4x 8px 0 rgba(0, 0, 0, 0.2), 0 6px;
    padding: 5rem 0rem;
    background-color: white;
    border-radius: 20px;
    max-width: 500px;
}

.lnk {
    margin-left: 15px;
    font-size: 14px;
    margin: 15px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.button1 {
    text-align: center;
    padding: 4%;
    border: none;
    background-color: #4fffe7;
    color: black;
    font-size: 15px;
    border-radius: 30px;
    margin-right: 80px;
    width: 30%;
    margin: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.button1:hover {
    background-color: #c9fef7;
}

.button2 {
    text-align: center;
    padding: 4%;
    border: none;
    background-color: #4fffe7;
    color: black;
    border-radius: 30px;
    margin-left: 50px;
    width: 30%;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
}

.button2:hover {
    background-color: #c9fef7;
}

.button3 {
    text-align: center;
    padding: 3%;
    border: none;
    background-color: #4fffe7;
    color: black;
    border-radius: 30px;
    margin-left: 60px;
    width: 30%;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
}

.button3:hover {
    background-color: #c9fef7;
}

.otpfield {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: grey;
    color: white;
    font-size: 15px;
}

.otp_number_input {
    width: 100%;
    background-color: #fff;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.counters {
    <<<<<<< HEAD color: black;
}

=======color: black;

}
.otp_number_input {
    width: 80%;
    background-color: #fff;
    display: flex;
    margin: 0 auto;
}
>>>>>>>test