.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 15px;
  color: rgb(21, 20, 20);
}

span {
  font-size: 12px;
  padding: 3px;
  color: rgb(243, 71, 24);
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid rgb(21, 20, 20);
}

input:invalid[focused="true"] ~ span {
  display: block;
}
/* .outer {
  display: inline-block;
} */

/* deptform---------- */
.dept-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-size: cover;
  background-position: center;
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

.dept-details {
  color: rgb(20, 22, 22);
  text-align: center;
}

.dept-btn {
  width: 280px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(46, 210, 207);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
