.app {
    display: flex;
    flex-direction: column;
    justify-Content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.head {
    color: white;
    padding: 10px;
}

.con{
    margin-top: 20px;
    box-shadow: 0 4x 8px 0 rgba(0, 0, 0, 0.2), 0 6px;
    padding: 50px 100px;
    background-color: white;
    border-radius: 20px;
    height: 50vh;
    width: 75vh;
}

.message {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.label {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
}

.buttone {
    text-align: center;
    padding: 10px;
    border: none;
    background-color: #4fffe7;
    border-radius: 30px;
}

.input1 {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #000;
    background-color: white;
    outline: none;
    font-size: 6;
    box-sizing: border-box;
}